<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time to eat</title>
    <!--CSS Nativo-->
    <link rel="stylesheet" href="../css/styles.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pinyon+Script" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../images/t2e.png" alt="t2e">
    </header>
    <div class="container">
        <h1>Bienvenido</h1>
    </div>
    <div id="map"></div>
    <!--JS Local-->
    <script type="text/javascript" src= "../js/map.js"></script>
    <!--Google Maps API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    async defer></script>
</body>
</html>