<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time to eat</title>
    <!--CSS Local-->
    <link rel="stylesheet" href="../css/styles.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pinyon+Script" rel="stylesheet">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="container">
            <img id="logo" src="../images/logotransparente.png" alt="t2e">
        </nav>
    </header>
    <form class="form-inline m-3">
        <input class="form-control" type="search" placeholder="Find a place" aria-label="Search">
        <button class="btn btn btn-danger my-2 my-sm-0" type="search" >Search</button>
    </form>
    <div class="banner">
      <div class="bordermrg">
        <h3>Welcome!</h3>
        <h4>Find the best place to eat near you</h4>
        <button id="btnlocation" type="button" class="btn btn-light mt-2"><img src="../images/location.png" alt="find me">Get my location</button>
      </div>
    </div>
    <div class="container">
      <!--MAPA-->
      <div id="map"></div>
      <!--RESTAURANTES-->
      <h1 id="restaurants-section"><img src="../images/restar.png">  Restaurants  <img src="../images/restar.png"></h1>
      <div id="restaurantes"></div>
    </div>
    <!-- Conexion firebase -->
  	<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>
    <!-- Librerias Cloudfirestore -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <!--JS Local-->
    <script type="text/javascript" src= "../js/firebase.js"></script>
    <script type="text/javascript" src= "../js/map.js"></script>
    <!--Google Maps API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUaz17mTrasil6s3EjOP1NkpWqxRooDns&libraries=places"
    async defer></script>
    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
