body {
  font-family: 'Montserrat', sans-serif !important;
}
header {
  background: #101820;
}
#logo {
  height: 120px;
}
.container {
  text-align: center;
}
#restaurants-section {
  font-family: 'Pinyon Script', cursive;
  text-align: center;
  font-weight: bold;
}
.banner {
  background-image: url(../images/pizza.png);
  height: 200px;
  text-align: center;
  color: #fff;
  padding: 15px;
}
.bordermrg {
  border: 2px solid #fff;
  height: 170px;
  padding: 10px;
}
/*GOOGLE MAPS*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 250px;
        margin: 2% 0;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

